.req::after {
    content: ' *';
    color: red;
}
full-width {
    width: 100%;
}
.radio-buttons {
    display: inline-block;
    width: 33%;
    
}
@media (max-width: 991px)   {
    .radio-buttons {
        width: 100%;
    }
}
.form-body .panel-body {
    padding: 15px;
    background-color: #e0d2b8;
    border: 1px solid black;
}
.form-body {
    background-color: #e0d2b8;
}
.form-body input[type="date"] {
    background-color: #e0d2b8;
}
