.search-box {
    width: 70%;
    margin: 25px 0;
    >form {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >input, >select {
            margin-right: 10px;
            &:last-child {
                margin: 0;
            }
        }
    }
}
.empty-table {
    background: #d2383896;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 15px;
}
.pagination {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    .prev {
        margin-right: 20px;
    }
}